@inherits XeniaPro.Localization.Web.LocalizedComponentBase
@page "/"

<PageTitle>Index</PageTitle>

<h1>@Localizer["HelloWorld"]</h1>
<select @onchange="e => LanguageProvider.SetLanguage(LanguageProvider.Languages.First(x => x.ShortHand == (string)e.Value!))">
    @foreach (var lang in LanguageProvider.Languages)
    {
        <option value="@lang.ShortHand">@lang</option>
    }
</select>

@Localizer["Welcome"]

<SurveyPrompt Title="@Localizer["HowIsBlazor"]" />
